<h1 class="text-center">Inscrição em Disciplinas</h1>

<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h4 class="mb-0">
      Minhas solicitações
    </h4>
    <button type="button" class="btn btn-success">Nova Inscrição</button>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Disciplina</th>
          <th scope="col">Turma</th>
          <th scope="col">Período</th>
          <th scope="col">Status</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>TCC00100 - Programação I</td>
          <td>A1</td>
          <td>2017.2</td>
          <td class="text-success">Aprovado</td>
          <td class="align-middle">
            <div class="d-flex justify-content-around">
              <i class="fa fa-info-circle fa-lg" aria-hidden="true"
                 data-toggle="tooltip" data-placement="top" title="Detalhes"></i>
              <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"
                 data-toggle="tooltip" data-placement="top" title="Editar"></i>
            </div>
          </td>
        </tr>
        <tr>
          <td>TCC00101 - Programação II</td>
          <td>B1</td>
          <td>2018.1</td>
          <td class="text-danger">Reprovado</td>
          <td class="align-middle">
            <div class="d-flex justify-content-around">
              <i class="fa fa-info-circle fa-lg" aria-hidden="true"
                 data-toggle="tooltip" data-placement="top" title="Detalhes"></i>
              <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"
                 data-toggle="tooltip" data-placement="top" title="Editar"></i>
            </div>
          </td>
        </tr>
        <tr>
          <td>TCC00102 - Redes I</td>
          <td>A1</td>
          <td>2018.2</td>
          <td class="text-warning">Pendente</td>
          <td class="align-middle">
            <div class="d-flex justify-content-around">
              <i class="fa fa-info-circle fa-lg" aria-hidden="true"
                 data-toggle="tooltip" data-placement="top" title="Detalhes"></i>
              <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"
                 data-toggle="tooltip" data-placement="top" title="Editar"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>